In [34]:
import json
import logging
import os
from typing import List

import numpy as np
import pandas as pd
import pandas_gbq
import plotly.graph_objects as go
from sklearn.ensemble import HistGradientBoostingRegressor
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt 


ROOT_DIR = os.getcwd()
ROOT_DIR = os.path.dirname(ROOT_DIR)
#ROOT_DIR = os.path.realpath(os.path.join(os.path.dirname(__file__), ".."))
#LOG_PATH = os.path.join(ROOT_DIR, "logs/forecasting.log")
#logging.basicConfig(filename=LOG_PATH, encoding="utf-8", level=logging.DEBUG)


def _get_query_string(query_name: str):
    """
    Get a query from the queries folder, as a string
    :param query_name: The name of the query to use, without the .sql extension
    :return: The query as a string
    """
    with open(os.path.join(ROOT_DIR, f"queries/{query_name}.sql"), "r") as f:
        return f.read()


def _substitute_asin(query: str, asins: List[str] = None):
    """
    Create a where in clause from a list of ASINs
    :param query: The query to use as a string
    :param asins: The brands to filter by, as a list of strings
    :return: The query string with the where in clause
    """
    where = f" and asin in unnest({asins})" if asins else ""
    return query.replace("ASIN_SELECTION", where)


def get_calendar():
    calendar = _get_query_string("calendar")
    calendar_df, _ = _get_data_from_bq(calendar)
    return calendar_df


def _get_data_from_bq(query: str,):
    """
    Get data from BigQuery, using a query string
    :param query: The query to use
    :return: A pandas DataFrame
    """
    return pandas_gbq.read_gbq(query, project_id="yaba-data"), query

ModuleNotFoundError: No module named 'matplotlib'

In [3]:
dataset = _get_data_from_bq(_get_query_string("everything_asin"))
print(dataset)

/usr/local/lib/python3.11/site-packages/google/cloud/bigquery/table.py:2230: UserWarning: A progress bar was requested, but there was an error loading the tqdm library. Please install tqdm to use the progress bar functionality.
  record_batch = self.to_arrow(

(     seller_region country_code        brand        asin reporting_date  \
0               na           us   matcha-dna  B077572GG8     2023-07-27
1               na           us   matcha-dna  B077572GG8     2023-11-14
2               na           us   matcha-dna  B077572GG8     2023-09-25
3               na           us   matcha-dna  B077572GG8     2023-10-20
4               na           us   matcha-dna  B077572GG8     2023-06-25
...            ...          ...          ...         ...            ...
1876            na           us  superscandi  B081NPK5Y2     2023-08-24
1877            na           us  superscandi  B081NPK5Y2     2023-09-08
1878            na           us  superscandi  B081NPK5Y2     2023-08-18
1879            na           us  superscandi  B081NPK5Y2     2023-10-08
1880            na           us  superscandi  B081NPK5Y2     2023-06-17

      top_bsr_position  bot_bsr_position           sales  perdormance  units  \
0                  2.0             422.0  8773.920000000  1.725467495    458
1                  2.0             968.0  7262.450000000  1.431037907    305
2                  4.0             677.0  6956.080000000  1.350643218    295
3                  3.0             850.0  5595.300000000  1.082824930    237
4                  3.0             496.0  7640.030000000  1.452781204    278
...                ...               ...             ...          ...    ...
1876              14.0            3502.0  1878.640000000  1.376219629    120
1877              16.0            4329.0  1677.740000000  1.348687583    107
1878              10.0            2849.0  1849.730000000  1.482702948    119
1879              10.0            4094.0  1649.250000000  1.339638337    104
1880              10.0            3720.0  1409.530000000  1.135967192     91

      ... units_sde1 refunds_sde1 sessionsmobile_sde1  pageviews_sde1  \
0     ...   0.680788    -0.132977            1.096990        2.700855
1     ...   0.193691    -0.076067            0.292125        0.752539
2     ...   0.217512    -0.018337            0.385622        0.996129
3     ...   0.249361    -0.122397            0.465053        1.059520
4     ...   0.117806    -0.010251            0.272055        0.615725
...   ...        ...          ...                 ...             ...
1876  ...   0.212578    -0.016156            0.689105        2.256864
1877  ...   0.195484    -0.025431            0.584624        1.890894
1878  ...   0.225652    -0.078049            0.676957        2.315306
1879  ...   0.264880          NaN            1.151211        2.478160
1880  ...   0.214861          NaN            0.880693        1.940831

     topbsr_units botbsr_units units_units refunds_units sessionsmobile_units  \
0        0.004367     0.921397         1.0  -0.195327511          1.611353712
1        0.006557     3.173770         1.0  -0.392721311          1.508196721
2        0.013559     2.294915         1.0  -0.084305085          1.772881356
3        0.012658     3.586498         1.0  -0.490843882          1.864978903
4        0.010791     1.784173         1.0  -0.087014388          2.309352518
...           ...          ...         ...           ...                  ...
1876     0.116667    29.183333         1.0  -0.076000000          3.241666667
1877     0.149533    40.457944         1.0  -0.130093458          2.990654206
1878     0.084034    23.941176         1.0  -0.345882353          3.000000000
1879     0.096154    39.365385         1.0          None          4.346153846
1880     0.109890    40.879121         1.0          None          4.098901099

     pageviews_units
0        3.967248908
1        3.885245902
2        4.579661017
3        4.248945148
4        5.226618705
...              ...
1876    10.616666667
1877     9.672897196
1878    10.260504202
1879     9.355769231
1880     9.032967033

[1881 rows x 38 columns], "with data as (\n  select\n    seller_region,\n    country_code,\n    brand,\n    asin,\n    reporting_date,\n    brand_aggregation,\n    sum(daily_sales_asin_euro) as sales,\n    sum(daily_qty_asin) as units,\n    sum(daily_discounts_asin_euro) as discounts,\n    sum(daily_cogs_asin_euro) as cogs,\n    sum(daily_refunds_asin_euro) as refunds,\n    sum(daily_sde1_asin_euro) as sde1,\n    avg(top_bsr_position) as top_bsr_position,\n    avg(bot_bsr_position) as bot_bsr_position,\n    sum(daily_sessions_mobile_asin) as sessions_mobile,\n    sum(daily_sessions_browser_asin) as sessions_browser,\n    sum(daily_sessions_asin) as sessions,\n    sum(daily_page_views_mobile_asin) as pageviews_mobile,\n    sum(daily_page_views_browser_asin) as pageviews_browser,\n    sum(daily_page_views_asin) as pageviews,\n  from `yaba-data.base.fct_fe_final_report_everything_asin`\n  group by 1, 2, 3, 4, 5, 6\n),\n\ntop_asins as (\n    select\n        reporting_date,\n        asin,\n        country_code,\n        round(sum(sde1), 2) as sde1,\n    from data\n    where\n        brand_aggregation is not null\n        and asin is not null\n        and reporting_date between date_sub(current_date(), interval 6 month) and date_sub(current_date(), interval 2 day)\n    group by 1, 2, 3\n\n),\n\nranked as (\n    select\n        asin,\n        country_code,\n        rank() over (order by sum(sde1) desc) as rank,\n    from top_asins\n    group by 1, 2\n),\n\ndata_selector as (\n    select\n        seller_region,\n        country_code,\n        brand,\n        asin,\n        reporting_date,\n        top_bsr_position,\n        bot_bsr_position,\n        sales,\n        units,\n        discounts,\n        cogs,\n        refunds,\n        sde1,\n        sessions_mobile,\n        sessions_browser,\n        sessions,\n        pageviews_mobile,\n        pageviews_browser,\n        pageviews,\n        r.rank,\n    from data as d\n    left join ranked as r\n        using (asin, country_code)\n),\n\nnew_features as (\n    select\n        seller_region,\n        country_code,\n        brand,\n        asin,\n        reporting_date,\n        top_bsr_position,\n        bot_bsr_position,\n        sales,\n        safe_divide(sales,avg(sales) over (partition by country_code, asin rows between 90 preceding and current row)) as perdormance,\n        units,\n        discounts,\n        cogs,\n        refunds,\n        sde1,\n        sessions_mobile,\n        sessions_browser,\n        sessions,\n        pageviews_mobile,\n        pageviews_browser,\n        pageviews,\n        safe_divide(top_bsr_position,sales) as topbsr_sales,\n        safe_divide(bot_bsr_position,sales) as botbsr_sales,\n        safe_divide(units,sales) as units_sales,\n        safe_divide(refunds,sales) as refunds_sales,\n        safe_divide(sessions_mobile,sales) as sessionsmobile_sales,\n        safe_divide(pageviews,sales) as pageviews_sales,\n        safe_divide(top_bsr_position,sde1) as topbsr_sde1,\n        safe_divide(bot_bsr_position,sde1) as botbsr_sde1,\n        safe_divide(units,sde1) as units_sde1,\n        safe_divide(refunds,sde1) as refunds_sde1,\n        safe_divide(sessions_mobile,sde1) as sessionsmobile_sde1,\n        safe_divide(pageviews,sde1) as pageviews_sde1,\n        safe_divide(top_bsr_position,units) as topbsr_units,\n        safe_divide(bot_bsr_position,units) as botbsr_units,\n        safe_divide(units,units) as units_units,\n        safe_divide(refunds,units) as refunds_units,\n        safe_divide(sessions_mobile,units) as sessionsmobile_units,\n        safe_divide(pageviews,units) as pageviews_units,\n        rank,\n    from data_selector\n)\n\nselect * except(rank)\nfrom new_features\nwhere rank < 10 and reporting_date > '2023-06-01'")

In [28]:
data_top10 = pd.read_csv("../data/top10_data.csv")

In [19]:
data_top10.columns
data_top10.info

<bound method DataFrame.info of      seller_region country_code             brand        asin reporting_date  \
0               eu           uk  incite-nutrition  B00RXIIW7K     2023-10-02
1               eu           uk  incite-nutrition  B00RXIIW7K     2023-11-15
2               eu           uk  incite-nutrition  B00RXIIW7K     2023-12-15
3               eu           uk  incite-nutrition  B00RXIIW7K     2023-10-22
4               eu           uk  incite-nutrition  B00RXIIW7K     2023-11-13
...            ...          ...               ...         ...            ...
1876            na           us       igan-covers  B0817GWV8C     2023-09-17
1877            na           us       igan-covers  B0817GWV8C     2023-11-14
1878            na           us       igan-covers  B0817GWV8C     2023-06-06
1879            na           us       igan-covers  B0817GWV8C     2023-10-24
1880            na           us       igan-covers  B0817GWV8C     2023-10-12

      top_bsr_position  bot_bsr_position    sales  performance  units  ...  \
0                  3.0              16.0  2817.04     1.000000  325.0  ...
1                  4.0              33.0  4436.46     1.150273  515.0  ...
2                  2.0              32.0  3444.11     0.898320  460.0  ...
3                  2.0              31.0  3973.09     1.034317  462.0  ...
4                  4.0              42.0  3417.13     0.916657  396.0  ...
...                ...               ...      ...          ...    ...  ...
1876               7.0           13880.0  1156.11     0.692770    9.0  ...
1877               4.0            8807.0  1436.09     0.869564   12.0  ...
1878               6.0           20370.0   606.41     0.366845    5.0  ...
1879               4.0            8475.0  1041.43     0.626994    8.0  ...
1880               6.0            8485.0  1564.10     0.865556   12.0  ...

      units_sde1  refunds_sde1  sessionsmobile_sde1  pageviews_sde1  \
0       0.406352     -0.061640             0.461365        1.217804
1       0.454113     -0.082719             0.578442        1.470796
2       0.613636     -0.079252             0.646986        1.666155
3       0.493184     -0.033861             0.633026        1.445392
4       0.384350     -0.020741             0.436762        1.113257
...          ...           ...                  ...             ...
1876    0.014650           NaN             0.514365        1.141043
1877    0.029943     -0.525551             0.421699        1.040523
1878    0.027158     -0.606485             1.792407        3.807506
1879    0.024916     -0.356796             0.688302        1.719198
1880    0.016131           NaN             0.329350        0.739357

      topbsr_units  botbsr_units  units_units  refunds_units  \
0         0.009231      0.049231          1.0      -0.151692
1         0.007767      0.064078          1.0      -0.182155
2         0.004348      0.069565          1.0      -0.129152
3         0.004329      0.067100          1.0      -0.068658
4         0.010101      0.106061          1.0      -0.053965
...            ...           ...          ...            ...
1876      0.777778   1542.222222          1.0            NaN
1877      0.333333    733.916667          1.0     -17.551667
1878      1.200000   4074.000000          1.0     -22.332000
1879      0.500000   1059.375000          1.0     -14.320000
1880      0.500000    707.083333          1.0            NaN

      sessionsmobile_units  pageviews_units
0                 1.135385         2.996923
1                 1.273786         3.238835
2                 1.054348         2.715217
3                 1.283550         2.930736
4                 1.136364         2.896465
...                    ...              ...
1876             35.111111        77.888889
1877             14.083333        34.750000
1878             66.000000       140.200000
1879             27.625000        69.000000
1880             20.416667        45.833333

[1881 rows x 38 columns]>

In [20]:
data_top10.describe

<bound method NDFrame.describe of      seller_region country_code             brand        asin reporting_date  \
0               eu           uk  incite-nutrition  B00RXIIW7K     2023-10-02
1               eu           uk  incite-nutrition  B00RXIIW7K     2023-11-15
2               eu           uk  incite-nutrition  B00RXIIW7K     2023-12-15
3               eu           uk  incite-nutrition  B00RXIIW7K     2023-10-22
4               eu           uk  incite-nutrition  B00RXIIW7K     2023-11-13
...            ...          ...               ...         ...            ...
1876            na           us       igan-covers  B0817GWV8C     2023-09-17
1877            na           us       igan-covers  B0817GWV8C     2023-11-14
1878            na           us       igan-covers  B0817GWV8C     2023-06-06
1879            na           us       igan-covers  B0817GWV8C     2023-10-24
1880            na           us       igan-covers  B0817GWV8C     2023-10-12

      top_bsr_position  bot_bsr_position    sales  performance  units  ...  \
0                  3.0              16.0  2817.04     1.000000  325.0  ...
1                  4.0              33.0  4436.46     1.150273  515.0  ...
2                  2.0              32.0  3444.11     0.898320  460.0  ...
3                  2.0              31.0  3973.09     1.034317  462.0  ...
4                  4.0              42.0  3417.13     0.916657  396.0  ...
...                ...               ...      ...          ...    ...  ...
1876               7.0           13880.0  1156.11     0.692770    9.0  ...
1877               4.0            8807.0  1436.09     0.869564   12.0  ...
1878               6.0           20370.0   606.41     0.366845    5.0  ...
1879               4.0            8475.0  1041.43     0.626994    8.0  ...
1880               6.0            8485.0  1564.10     0.865556   12.0  ...

      units_sde1  refunds_sde1  sessionsmobile_sde1  pageviews_sde1  \
0       0.406352     -0.061640             0.461365        1.217804
1       0.454113     -0.082719             0.578442        1.470796
2       0.613636     -0.079252             0.646986        1.666155
3       0.493184     -0.033861             0.633026        1.445392
4       0.384350     -0.020741             0.436762        1.113257
...          ...           ...                  ...             ...
1876    0.014650           NaN             0.514365        1.141043
1877    0.029943     -0.525551             0.421699        1.040523
1878    0.027158     -0.606485             1.792407        3.807506
1879    0.024916     -0.356796             0.688302        1.719198
1880    0.016131           NaN             0.329350        0.739357

      topbsr_units  botbsr_units  units_units  refunds_units  \
0         0.009231      0.049231          1.0      -0.151692
1         0.007767      0.064078          1.0      -0.182155
2         0.004348      0.069565          1.0      -0.129152
3         0.004329      0.067100          1.0      -0.068658
4         0.010101      0.106061          1.0      -0.053965
...            ...           ...          ...            ...
1876      0.777778   1542.222222          1.0            NaN
1877      0.333333    733.916667          1.0     -17.551667
1878      1.200000   4074.000000          1.0     -22.332000
1879      0.500000   1059.375000          1.0     -14.320000
1880      0.500000    707.083333          1.0            NaN

      sessionsmobile_units  pageviews_units
0                 1.135385         2.996923
1                 1.273786         3.238835
2                 1.054348         2.715217
3                 1.283550         2.930736
4                 1.136364         2.896465
...                    ...              ...
1876             35.111111        77.888889
1877             14.083333        34.750000
1878             66.000000       140.200000
1879             27.625000        69.000000
1880             20.416667        45.833333

[1881 rows x 38 columns]>

In [29]:
data_top10['reporting_date'] = pd.to_datetime(data_top10['reporting_date'])

In [30]:
data_top10['Month'] = data_top10['reporting_date'].dt.month
data_top10['Year'] = data_top10['reporting_date'].dt.year
data_top10['Date MonthYear'] = data_top10['reporting_date'].dt.strftime('%Y-%m')
#data_top10 = data_top10.drop(columns=['reporting_date'])

In [31]:
data_top10.head()

,seller_region,country_code,brand,asin,reporting_date,top_bsr_position,bot_bsr_position,sales,performance,units,...,pageviews_sde1,topbsr_units,botbsr_units,units_units,refunds_units,sessionsmobile_units,pageviews_units,Month,Year,Date MonthYear
0,eu,uk,incite-nutrition,B00RXIIW7K,2023-10-02,3.0,16.0,2817.04,1.000000,325.0,...,1.217804,0.009231,0.049231,1.0,-0.151692,1.135385,2.996923,10,2023,2023-10
1,eu,uk,incite-nutrition,B00RXIIW7K,2023-11-15,4.0,33.0,4436.46,1.150273,515.0,...,1.470796,0.007767,0.064078,1.0,-0.182155,1.273786,3.238835,11,2023,2023-11
2,eu,uk,incite-nutrition,B00RXIIW7K,2023-12-15,2.0,32.0,3444.11,0.898320,460.0,...,1.666155,0.004348,0.069565,1.0,-0.129152,1.054348,2.715217,12,2023,2023-12
3,eu,uk,incite-nutrition,B00RXIIW7K,2023-10-22,2.0,31.0,3973.09,1.034317,462.0,...,1.445392,0.004329,0.067100,1.0,-0.068658,1.283550,2.930736,10,2023,2023-10
4,eu,uk,incite-nutrition,B00RXIIW7K,2023-11-13,4.0,42.0,3417.13,0.916657,396.0,...,1.113257,0.010101,0.106061,1.0,-0.053965,1.136364,2.896465,11,2023,2023-11

In [32]:
df = data_top10
df.isnull().sum()

seller_region             0
country_code              0
brand                     0
asin                      0
reporting_date            0
top_bsr_position          0
bot_bsr_position          0
sales                    11
performance              11
units                    11
discounts                 0
cogs                     11
refunds                 394
sde1                      0
sessions_mobile          25
sessions_browser         25
sessions                 25
pageviews_mobile         25
pageviews_browser        25
pageviews                25
topbsr_sales             11
botbsr_sales             11
units_sales              11
refunds_sales           398
sessionsmobile_sales     26
pageviews_sales          26
topbsr_sde1               6
botbsr_sde1               6
units_sde1               11
refunds_sde1            394
sessionsmobile_sde1      25
pageviews_sde1           25
topbsr_units             11
botbsr_units             11
units_units              11
refunds_units           398
sessionsmobile_units     26
pageviews_units          26
Month                     0
Year                      0
Date MonthYear            0
dtype: int64

In [33]:
# Display total values of all country 
pd.set_option('display.max_rows', None)
df['country_code'].value_counts()

country_code
us    1254
uk     627
Name: count, dtype: int64

In [ ]:
country_names = df.Country.value_counts().index
country_val = df.Country.value_counts().values
# Pie Chart for top 20 country
fig,ax = plt.subplots(figsize=(9,9))
ax.pie(country_val[:20],labels=country_names[:20],autopct='%1.2f%%')
plt.show()